.header {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px;
  z-index: 1;

  .header_logo {
    // padding-top: 4%;
    img {
      height: 90px;
    }
  }

  .header_links {
    ul {
      list-style: none;
      display: flex;
      padding: 0;

      li {
        padding-right: 30px;
        font-size: 18px;
        font-weight: 300;

        &:last-child {
          padding-right: 0;
        }

        .navlinksWhite {
          color: #fff;
        }

        .navlinksBlack {
          color: #9d9d9d;
        }
        .navlinksActive {
          color: #9d9d9d;
          border-bottom: 1px solid #9d9d9d;
        }
      }
      .social-link {
        padding-right: 8px;
      }
    }
  }
  .cool-link {
    font-weight: bold;
    border: none;
    background: transparent;
    display: inline-block;
    color: #0088e2;
  }
  .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
  }
  .cool-link:hover::after {
    width: 100%;
  }

  .hamburger_white {
    color: #fff;
  }

  .hamburger_black {
    color: #000;
  }

  .hamburger_menu {
    font-size: 40px;
    margin-top: -15px;
    cursor: pointer;
  }

  .mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: #002944;
    overflow-y: hidden;
    z-index: 9;

    .mobile_menu_header {
      z-index: 99999;
      display: flex;
      justify-content: space-between;
      color: #fff;
      padding: 25px 40px 20px 50px;

      .header_logo {
        img {
          width: 90px;
          height: 34px;
        }
      }
      .cancel {
        padding-top: 5px;
      }
    }

    .mobile_menu_links {
      z-index: 10;
      padding: 60px 50px;

      ul {
        list-style: none;
        padding: 0;

        li {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 140%;
          padding-bottom: 30px;

          button {
            height: 45px;
            width: 200px;
            font-weight: 400;
            background: transparent;
            border: 1px solid #fff;
            box-sizing: border-box;
            font-size: 16px;
            color: #fff;

            .arrow {
              padding-left: 15px;
              font-size: 40px;
            }

            &:hover {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 20px 150px;

    .header_links {
      ul {
        li {
          font-size: 16px;
          font-weight: 300;
          padding-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 100px;

    .header_links {
      ul {
        li {
          font-size: 15px;
          font-weight: 300;
          padding-right: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 15px 75px;

    .hamburger_menu {
      font-size: 40px;
      margin-top: -15px;
    }
    .mobile_menu {
      .mobile_menu_links {
        .social-links-mobile-view {
          display: flex;
          gap: 10px;
          justify-content: space-evenly;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 10px 50px;

    .hamburger_menu {
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 5px 30px;

    .header_logo {
      img {
        height: 50px;
      }
    }

    .hamburger_menu {
      font-size: 30px;
    }
    .mobile_menu {
      .mobile_menu_links {
        .social-links-mobile-view {
          display: flex;
          gap: 10px;
          justify-content: space-evenly;
        }
      }
    }
  }
}
