.work_page {
  .hero_card {
    position: relative;

    .img_container {
      width: 100%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      .heading h1 {
        font-family: Arial-Black;
        font-size: 70px;
        text-transform: capitalize;
      }
    }
  }
  .work-subcontainer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .backlog-text {
    font-size: 100px;
    color: #002944;
    position: absolute;
    text-align: center;
    font-weight: 800;
    opacity: 0.05;
  }
  .work-containerText {
    font-size: 35px;
    width: 40%;
    text-align: center;
    color: #002944;
  }
  .image-tabs {
    color: #9d9d9d;
  }
  .work_navbar {
    margin: 80px 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: auto auto auto auto auto;

      li {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        color: #9e9e9e;
      }

      .active {
        color: #119ccc;
      }
    }
  }

  .main_section_content {
    .custom_margin {
      margin-top: 100px;
    }

    .sm_margin {
      margin-top: 0;
    }

    .img_container_lg {
      width: 100%;
      height: 500px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .img_container_sm {
      width: 100%;
      height: 250px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    p {
      margin-top: 20px;
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 14px;
      line-height: 120%;
      color: #9e9e9e;
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
      color: #002944;
    }
  }
}
.image-container {
  width: 100%;
  transition: 0.3s;
}
.image-setcontainer:hover {
  width: 100%;
  transform: rotate(-4deg) scale(1.2);
  transition: 0.3s;
}
.image-innerContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.image-imageContainer {
  width: 40%;
  margin-top: 40px;
  margin-right: 20px;
}
.image-imageContainer2 {
  width: 35%;
  margin-top: 40px;
  margin-right: 20px;
}
.image-imageContainer3 {
  width: 25%;
  margin-top: 40px;
  margin-right: 20px;
}
.setStyledTabs {
  width: 100%;
  overflow-x: auto;
}
.image-imageContainer4 {
  width: 50%;
  margin-top: 40px;
  margin-right: 20px;
}
.image-container {
  width: 100%;
  position: relative;
  height: 450px;
  overflow: hidden;
}
.image-setContainer {
  width: 100%;
  position: relative;
  // height: 350px;
  overflow: hidden;
}
.image-insideContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: red;
}
.image-tags {
  display: flex;
  padding: 5px 0px;
  margin-top: 15px;
  font-size: 11px;
}
.tag {
  padding: 5px 15px;
  background-color: #dfdfdf;
  border-radius: 10px;
}
.image-cardtitle {
  font-size: 24px;
  width: 70%;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .image-imageContainer {
    width: 50%;
    margin-right: 0px;
  }
  .image-imageContainer2 {
    width: 40%;
    margin-right: 0px;
  }
  .image-imageContainer3 {
    width: 30%;
    margin-right: 0px;
  }
  .image-imageContainer4 {
    width: 60%;
    margin-right: 0px;
  }
  .image-cardtitle {
    width: 100%;
  }
  .heading h1 {
    font-size: 65px;
  }
  .image-innerContainer {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .image-cardtitle {
    font-size: 22px;
    width: 80%;
  }
  .work-containerText {
    width: 80% !important;
  }
  .image-innerContainer {
    justify-content: space-evenly;
  }
  .image-container {
    height: 300px;
  }
  .image-setContainer {
    height: 320;
  }
  .image-imageContainer {
    width: 50%;
  }
  .image-imageContainer2 {
    width: 40%;
  }
  .image-imageContainer3 {
    width: 35%;
  }
  .image-imageContainer4 {
    width: 55%;
  }
}

@media screen and (max-width: 768px) and (min-width: 428px) {
  .image-imageContainer {
    width: 70%;
    margin-right: 0px;
  }
  .heading h1 {
    font-size: 45px;
  }
  .image-imageContainer2 {
    width: 70%;
    margin-right: 0px;
  }
  .image-imageContainer3 {
    width: 70%;
    margin-right: 0px;
  }
  .image-imageContainer4 {
    width: 70%;
    margin-right: 0px;
  }
  .work-containerText {
    width: 80% !important;
  }
  .image-cardtitle {
    width: 100%;
    text-align: center;
  }
  .image-innerContainer {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 428px) and (min-width: 320px) {
  .image-imageContainer {
    width: 100%;
    margin-right: 0px;
  }
  .image-imageContainer2 {
    width: 100%;
    margin-right: 0px;
  }
  .image-imageContainer3 {
    width: 100%;
    margin-right: 0px;
  }
  .image-imageContainer4 {
    width: 100%;
    margin-right: 0px;
  }
  .work-containerText {
    width: 80% !important;
  }
  .image-cardtitle {
    width: 100%;
    text-align: center;
  }
  .image-container {
    width: 100%;
    // height: 300px !important;
  }
  .heading h1 {
    font-size: 60px;
  }
  .image-innerContainer {
    justify-content: space-evenly;
  }
  .image-setContainer {
    height: 350px;
  }
}
