
.aboutus_page {
  .hero_card {
    position: relative;

    .hero_card_img {
      width: 100%;
      height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-family: Arial-Black;
        color: #fff;
        text-transform: capitalize;
        text-align: center;
        font-size: 80px;
        width: 70%;
        font-weight: bold;
      }
    }
  }

  .capabilities_card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .video_button {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      video {
        width: 100%;
        height: 600px;
      }
      .playButton {
        position: absolute;
        border-radius: 50%;
        top: 35%;
        .outerCircle {
          height: 200px;
          width: 200px;
          background-color: rgba($color: #ffffff, $alpha: 0.3);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
          .midCircle {
            background-color: #ffffff;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            .innerCircle {
              background-color: #0088e2;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;
            }
          }
        }
      }
    }
    .content-body {
      display: flex;
      width: 100%;
      margin-top: 5%;
      .img_container {
        width: 40%;
        display: flex;
        
        img {
          width: 100%;
          // height: ;
        }
      }
      .work_btn_div {
        display: flex;
        justify-content: left;
        .footer-button {
          width: 50px;
          height: 50px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          background-color: #00253f;
          overflow: hidden;
          z-index: 1;
          cursor: pointer;
          border-radius: 40px;
          transition: 0.2s;
        }
        .footer-button:hover {
          width: 200px;
          transition: 0.2s;
        }
        .foolter-icon-button {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .buttonContainer {
          display: flex;
          position: relative;
        }
        .foolter-icon-card {
          color: white;
          width: 150px;
          font-size: 17px;
          font-weight: 800px;
        }
        .foolter-icon-card-absolute {
          color: #00253f;
          width: 150px;
          top: 10px;
          position: absolute;
          left: 55px;
          z-index: 0;
          font-size: 17px;
          font-weight: 800px;
        }
      }
    }
    .images {
      gap: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
      img {
        width: 223px;
        height: 225px;
      }
    }
    .content-container {
      margin-left: 5%;
      width: 50%;
      display: flex;
      align-content: center;
      //   justify-content: center;
      .content {
        display: flex;
        flex-direction: column;
        width: 650px;
        gap: 20px;
        h2 {
          font-size: 35px;
          color: #2c2c2c;
        }
        p {
          font-style: normal;
          font-size: 18px;
          color: #c8c8c8;
        }

        button {
          height: 50px;
          width: 240px;
          font-weight: 400;
          background: transparent;
          border: 1px solid #002944;
          box-sizing: border-box;
          font-size: 18px !important;
          color: #002944;

          .arrow {
            padding-left: 15px;
            font-size: 50px;
          }

          &:hover {
            background-color: #002944;
            color: #fff;
          }
        }
      }
    }
  }

  .lg_content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .heading-container {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;
        padding: 4.5%;
      background-image: url("../../assets//images/AboutusPage/Entertaining.png");
      h1 {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        font-style: normal;
        font-size: 35px;
        text-align: center;
        color: #000;
      }
    }
  }

  .mission_section {
    position: relative;

    .img_container {
      display: flex;
      max-width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .content-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          color: #fff;
          font-weight: bold;
          font-size: 72px;
        }

        p {
          text-align: center;
          margin-top: 15px;
          width: 70%;
          font-size: 26px;
          color: #fff;
        }
      }
    }
  }

  .brand_story_section {
    .heading {
      height: 200px;
      display: flex;
      justify-content: center;
      background-image: url("../../assets/images//AboutusPage/backstory-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      h1 {
        padding-top: 80px;
        text-align: center;
        font-style: normal;
        font-size: 35px;
        color: #002944;
      }
    }

    .brand-story-mainContainer {
      display: flex;
      flex-direction: column;
      .container-1 {
        width: 100%;
        display: flex;
        .image-brand-story {
          img {
            width: 875px;
            height: 396px;
          }
        }
        .content-brand-story {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            color: #c8c8c8;
            font-size: 16px;
            // margin-top: 15px;
            padding-left: 40px;
            padding-right: 200px;
          }

          .content-list {
            width: 100%;
            padding-left: 40px;
            // padding-right: 350px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            gap: 20px;
            .list-item {
              display: flex;
              .list-circle {
                font-size: 20px !important;
              }
              p {
                color: #c8c8c8;
                font-size: 16px;
              }
            }
          }
        }
      }
      .container-2 {
        display: flex;
        justify-content: space-between;
        .image-brand-story {
          img {
            width: 875px;
            height: 396px;
          }
        }
        .content-brand-story {
          h2 {
            padding-top: 40px;
            font-weight: bold;
            color: #2c2c2c;
            font-size: 50px;
          }
          h5 {
            color: #2c2c2c;
            font-weight: bold;
            font-size: 20px;
          }
          p {
            width: 90%;
            color: #c8c8c8;
            font-size: 18px;
          }
        }
        .content-brand-story {
          padding-left: 50px;
          padding-right: 35px;
          width: fit-content;
        }
      }
    }

    .content {
      padding: 0;
      padding-top: 30px;

      .image {
        padding-bottom: 30px;
        img {
          height: 350px;
          width: 100%;
        }
      }

      .text {
        padding-bottom: 30px;
        p {
          font-size: 18px;
          color: #494949;
        }
      }

      .content_heading {
        h1 {
          color: #119ccc;
          padding: 30px 0;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .aboutus_page {
    .capabilities_card {
      .lg_content {
        .heading-container {
          h1 {
            font-size: 32p;
          }
        }
      }
      .images {
        img {
          width: 160px;
          height: 140px;
        }
      }
    }
    .brand_story_section {
      .brand-story-mainContainer {
        .container-1 {
          .image-brand-story {
            img {
              width: 700px;
            }
          }
          .content-brand-story {
            p {
              padding-left: 40px !important;
              padding-right: 80px !important;
              font-size: 16px;
              width: 100%;
            }
          }
        }
        .container-2 {
          .image-brand-story {
            width: 700px;
            img {
              width: 100%px;
            }
          }
          .content-brand-story {
            padding-left: 30px !important;
            padding-right: 40px !important;
            h2 {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .aboutus_page {
    .hero_card {
      .hero_card_img {
        height: 200px;
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 30px;
        }
      }
    }
    .capabilities_card {
      .content-body {
        .img_container {
          width: 50%;
          img {
            width: 100%;
            height: 400px;
          }
        }
        .content-container {
          .content {
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
      .lg_content {
        height: 200px;
        .heading-container {
          width: 100%;
          h1 {
            width: 100%;
            font-size: 30px;
          }
        }
      }
      .images {
        img {
          width: 120px;
          height: 100px;
        }
      }
    }
    .lg_content {
      .heading-container {
      }
      h1 {
        font-size: 60px;
      }

      .images {
        img {
          height: 100px;
        }

        .img2 {
          left: 100px;
        }

        .img3 {
          left: 200px;
        }

        .img4 {
          left: 300px;
          bottom: 100px;
        }

        .img5 {
          right: 0;
          bottom: 30px;
        }
      }
    }

    .mission_section {
      .img_container {
        height: 300px;
      }

      .content {
        display: flex;
        width: 100%;
        .content-detail {
          display: flex;
          width: 100%;
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 20px;
            width: 90%;
          }
        }
      }
    }

    .brand_story_section {
      .heading {
        background-size: contain;
        h1 {
          font-size: 50px;
        }
      }
      .brand-story-mainContainer {
        .container-1 {
          width: 100%;
          .image-brand-story {
            height: 470px;
            width: 100%;
            img {
              height: 470px;
              width: 100%;
            }
          }
          .content-brand-story {
            p {
              font-size: 16px;
              padding-left: 5%;
              padding-right: 2%;
            }
            .content-list {
              ul {
                padding-left: 5%;
                padding-right: 2%;
                width: auto;
                li {
                  font-size: 16px;
                  // padding-left: 5%;
                  // padding-right: 2%;
                  width: auto;
                }
              }
            }
          }
        }
        .container-2 {
          width: auto;
          .image-brand-story {
            width: 100%;
            img {
              height: 470px;
              width: 100%;
            }
          }
          .content-brand-story {
            padding-left: 2%;
            padding-right: 5%;
            h2 {
              font-size: 30px;
            }
            p {
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }
      .content {
        .image {
          img {
            height: 350px;
          }
        }

        .content_heading {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .aboutus_page {
    .hero_card {
      .hero_card_img {
        height: 280px;
      }

      .content {
        padding: 0 75px;

        h1 {
          width: 75%;
          font-size: 30px;
        }
      }
    }

    .capabilities_card {
      margin: 100px 0;
      padding: 0 75px;

      .content {
        margin-bottom: 50px;
        p {
          font-size: 18px;
        }

        button {
          margin-top: 40px;
          height: 45px;
          font-size: 16px;

          .arrow {
            font-size: 40px;
          }
        }
      }
    }

    .lg_content {
      margin-top: 80px;
      height: 700px;

      h1 {
        font-size: 80px;
        line-height: 140%;
      }

      .images {
        img {
          height: 130px;
        }

        .img2 {
          left: 150px;
        }

        .img3 {
          left: 300px;
        }

        .img4 {
          left: 450px;
          bottom: 180px;
        }

        .img5 {
          right: 0;
          bottom: 30px;
        }
      }
    }

    .mission_section {
      margin: 100px 0;

      .img_container {
        height: 300px;
      }

      .content {
        padding: 0 75px;

        h1 {
          width: 100%;
          font-size: 30px;
        }

        p {
          width: 100%;
          font-size: 16px;
        }
      }
    }

    .brand_story_section {
      margin: 80px 0;
      padding: 0 75px;

      .heading {
        h1 {
          font-size: 35px;
        }
      }

      .content {
        .image {
          img {
            height: 400px;
          }
        }

        .text {
          p {
            font-size: 16px;
          }
        }

        .content_heading {
          h1 {
            text-align: center;
            font-size: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .aboutus_page {
    .hero_card {
      .hero_card_img {
        height: 200px;
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 30px;
        }
      }
    }
    .capabilities_card {
      .content-body {
        .img_container {
          width: 50%;
          img {
            width: 100%;
            height: 350px;
          }
        }
        .content-container {
          .content {
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
      .lg_content {
        height: 200px;
        .heading-container {
          width: 100%;
          h1 {
            width: 100%;
            font-size: 30px;
          }
        }
      }
      .images {
        img {
          width: 120px;
          height: 100px;
        }
      }
    }
    .lg_content {
      height: 500px;

      h1 {
        font-size: 60px;
      }

      .images {
        img {
          height: 100px;
        }

        .img2 {
          left: 100px;
        }

        .img3 {
          left: 200px;
        }

        .img4 {
          left: 300px;
          bottom: 100px;
        }

        .img5 {
          right: 0;
          bottom: 30px;
        }
      }
    }

    .mission_section {
      .img_container {
        height: 300px;
      }

      .content {
        display: flex;
        width: 100%;
        .content-detail {
          display: flex;
          width: 100%;
          h1 {
            font-size: 36px;
          }
          p {
            font-size: 20px;
            width: 90%;
          }
        }
      }
    }

    .brand_story_section {
      .heading {
        h1 {
          font-size: 50px;
        }
      }
      .brand-story-mainContainer {
        .container-1 {
          width: 100%;
          .image-brand-story {
            height: 470px;
            width: 100%;
            img {
              height: 470px;
              width: 100%;
            }
          }
          .content-brand-story {
            p {
              font-size: 16px;
              padding-left: 5%;
              padding-right: 2%;
            }
            .content-list {
              ul {
                padding-left: 5%;
                padding-right: 2%;
                width: auto;
                li {
                  font-size: 16px;
                  // padding-left: 5%;
                  // padding-right: 2%;
                  width: auto;
                }
              }
            }
          }
        }
        .container-2 {
          width: auto;
          .image-brand-story {
            width: 100%;
            img {
              height: 470px;
              width: 100%;
            }
          }
          .content-brand-story {
            padding-left: 2%;
            padding-right: 5%;
            h2 {
              font-size: 30px;
            }
            p {
              width: 100%;
              font-size: 16px;
            }
          }
        }
      }
      .content {
        .image {
          img {
            height: 350px;
          }
        }

        .content_heading {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 450px) {
  .aboutus_page {
    .hero_card {
      .hero_card_img {
        height: 200px;
      }

      .content {
        padding: 0 50px;

        h1 {
          width: 100%;
          font-size: 30px;
        }
      }
    }

    .capabilities_card {
      margin: 80px 0;
      padding: 0 50px;
    }

    .lg_content {
      height: 400px;

      h1 {
        font-size: 40px;
      }

      .images {
        img {
          height: 80px;
        }

        .img2 {
          left: 70px;
        }

        .img3 {
          left: 150px;
        }

        .img4 {
          left: 200px;
          bottom: 100px;
        }

        .img5 {
          right: 0;
          bottom: 30px;
        }
      }
    }

    .mission_section {
      .img_container {
        height: 300px;
      }

      .content {
        padding: 0 50px;
      }
    }

    .brand_story_section {
      margin: 80px 0;
      padding: 0 50px;

      .content {
        .image {
          img {
            height: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .set-button{
  width: 60%;
  display: flex;
  justify-items: center;
  align-items: center;
}
  .aboutus_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .hero_card {
      .content {
        h1 {
          font-size: 42px;
        }
      }
    }
    .capabilities_card {
      width: 100%;
      .content-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        .img_container {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .content-container {
          margin-left: 0px;
          width: 100%;
          .content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2 {
              margin-top: 20px;
              font-size: 25px;
            }
            p {
              width: 80%;
              font-size: 15px;
            }
          }
        }
      }
      .lg_content {
        .heading-container {
          width: 100%;
          h1 {
            background-size: contain;
            font-size: 22px;
          }
        }
      }
      .images {
        img {
          width: 50px;
          height: 40px;
        }
      }
      .video_button {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        video {
          width: 100%;
          height: 300px;
        }
        .playButton {
          position: absolute;
          border-radius: 50%;
          top: 35%;
          .outerCircle {
            height: 100px;
            width: 100px;
            background-color: rgba($color: #ffffff, $alpha: 0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            .midCircle {
              background-color: #ffffff;
              width: 66px;
              height: 66px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 2;
              .innerCircle {
                background-color: #0088e2;
                width: 33px;
                height: 33px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
              }
            }
          }
        }
      }
    }
    .mission_section {
      margin-top: 20px;
      .img_container {
        height: 200px;
      }
      .content {
        .content-detail {
          width: 100%;
          h1 {
            font-size: 22px;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }
          p {
            width: 95%;
            margin-top: 5px;
            font-size: 12px;
          }
        }
      }
    }
    .brand_story_section {
      width: 90%;
      .heading {
        h1 {
          font-size: 42px;
        }
      }
      .brand-story-mainContainer {
        display: flex;
        justify-content: center;
        .container-1 {
          display: flex;
          flex-direction: column;
          .image-brand-story {
            width: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .content-brand-story {
            width: 100%;
            text-align: center;
            p {
              width: 90%;
              padding-right: 0px;
              padding-left: 0px;
              font-size: 15px;
            }
            .list-item {
              gap: 20px;
              margin-top: 10px;
              text-align: left;
              display: flex;
              .list-circle {
                font-size: 20px !important;
              }
              p {
                color: #c8c8c8;
                font-size: 16px;
              }
            }
          }
        }
        .container-2 {
          display: flex;
          flex-direction: column-reverse;
          .image-brand-story {
            width: 100%;
            img {
               width: 100%;
              height: 100%;
            }
          }
          .content-brand-story {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-right: 0px;
            padding-left: 0px;
            text-align: left;
            h2 {
              text-align: center;
              font-size: 32px;
            }
            p {
              font-size: 15px;
              width: 90%;
            }
          }
        }
      }
    }
  }
  .content-list{
    padding-left: 0 !important;
    width: 95% !important;
  }
}
