.carryDiv{
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.cover_page {
  width: 100%;
  min-width: calc(100vw - 20px);
  min-height: 100vh;
  background-image: url("../../../assets/images/homepagehero.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 0 200px;
  color: #fff;

  .content {
    padding-top: 25%;
    width: 85%;

    h1 {
      width: 40%;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 120%;
    }

    .custom-button {
      display: flex;
      align-items: center;
      position: relative;
      // width: 200px;
      // padding: 25px;
      .btn-arrow {
        border: 2px solid #005C99;
        z-index: 1;
        // position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: 0.3s;
      }
      // .btn-arrow:hover{
      //   margin-right:40px;
      //   transition: 0.3s;
      //   padding: 0px;
      // }
      .btn-text {
        margin-left: -25px;
        background: 'red';
        z-index: 0;
        transition: 0.3s;
        z-index: 99;
      }
      .btn-filled-container {
        width: 150px;
        animation: slideButton .3s;
        animation-direction: alternate;
        overflow: hidden;
        margin-left: 15px;
      }
      @keyframes slideButton {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(50px, 0px);
        }
      }
      .decorationContainer {
        width: 200px;
        border: 0.5px solid white;
        margin-left: 160px;
        transition: 0.3s;
      }
      .decorationContainerHover {
        margin-left: 0px;
        width: 200px;
        animation: shimmy .3s;
        animation-direction: alternate;
        border: 1px solid white;
        transition: 0.3s;
      }
      @keyframes shimmy {
        0% {
          transform: translate(150px, 0);
        }
        100% {
          transform: translate(0px, 0px);
        }
      }
      .btn-filled-text {
        // margin-left: 10px;
        transition: 0.3s;
      }
      .btn-filled-arrow {
        background-color: #005C99;
        z-index: 10;
        // position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: 0.3s;
        // margin-right: 20px;
      }
    }

    // button {
    //   margin-top: 40px;
    //   height: 50px;
    //   width: 240px;
    //   font-weight: 400;
    //   background: transparent;
    //   border: 1px solid #fff;
    //   box-sizing: border-box;
    //   font-size: 18px !important;
    //   color: #fff;

    //   .arrow {
    //     padding-left: 15px;
    //     font-size: 50px;
    //   }

    //   &:hover {
    //     background-color: #fff;
    //     color: #000;
    //   }
    // }

    .social_links {
      margin-top: 140px;

      ul {
        list-style: none;
        display: flex;
        padding: 0;
        li {
          padding-left: 60px;
          font-weight: 300;
          font-size: 16px;
          letter-spacing: 0.02em;

          &:first-child {
            padding-left: 0;
          }

          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .cover_page {
    padding: 0 150px;

    .content {
      padding-top: 180px;

      h1 {
        width: 60%;
        font-size: 40px;
      }

      button {
        margin-top: 40px;
        height: 45px;
        width: 220px;
        font-size: 16px;

        .arrow {
          font-size: 45px;
        }
      }

      .social_links {
        margin-top: 180px;

        ul {
          li {
            padding-left: 60px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .cover_page {
    padding: 0 100px;

    .content {
      padding-top: 180px;

      h1 {
        width: 60%;
        font-size: 35px;
      }

      .social_links {
        margin-top: 200px;

        ul {
          li {
            padding-left: 60px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cover_page {
    padding: 0 75px;

    .content {
      padding-top: 180px;

      h1 {
        width: 60%;
        font-size: 30px;
      }

      .social_links {
        margin-top: 210px;

        ul {
          li {
            padding-left: 60px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cover_page {
    padding: 0 75px;

    .content {
      padding-top: 200px;

      h1 {
        width: 75%;
        font-size: 30px;
      }

      .social_links {
        margin-top: 200px;

        ul {
          li {
            padding-left: 60px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .cover_page {
    padding: 0 50px;

    .content {
      padding-top: 200px;

      h1 {
        width: 85%;
        font-size: 30px;
      }

      .social_links {
        margin-top: 200px;

        ul {
          li {
            padding-left: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .cover_page {
    padding: 0 30px;

    .content {
      padding-top: 200px;

      h1 {
        width: 100%;
        font-size: 30px;
      }

      .social_links {
        margin-top: 200px;

        ul {
          li {
            padding-left: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
