.work_section {
  // margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  .align-absolute {
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 520px;
    background-color: #f8f8f8;
    z-index: -1;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      width: 100%;
      // background-image: url("../../../assets//images//mainPage//Work/workbk.png");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;

      h1 {
        // text-align: center;
        margin-top: 30px;
        width: 50%;
        height: 80px;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 180%;
        color: #002944;
        position: relative;
        z-index: 1;
      }
    }

    .navigation_icon {
      display: flex;

      .arrow_previous {
        padding-right: 60px;
        cursor: pointer;

        img {
          width: 22px;
          height: 40px;
        }
      }

      .arrow_next {
        cursor: pointer;

        img {
          width: 22px;
          height: 40px;
        }
      }
    }
  }
  .work_sectionAlpha {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .work_container {
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 10%;
      flex-grow: inherit;
      width: 80%;
      display: flex;
      justify-content: center;
      &::-webkit-scrollbar {
        display: none;
      }

      #work_card0 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5%;
        width: 40%;
        .work_img {
          width: 100%;
          height: 80%;
          overflow: hidden;
          img {
            transition: transform 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img:hover {
            transform: rotate(-4deg) scale(1.2);
          }
        }

        .work_tag {
          margin-top: 10px;
          background-color: rgba($color: #002944, $alpha: 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          width: 200px;
          padding: 10px;

          span {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #002944;
          }
        }

        .work_heading {
          margin-top: 6px;

          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 140%;
            color: #002944;
          }
        }
      }

      #work_card1 {
        margin-top: 5%;
        min-height: 450px;
        width: 30%;
        .work_img {
          width: 100%;
          height: 80%;
          overflow: hidden;
          img {
            transition: transform 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img:hover {
            transform: rotate(-4deg) scale(1.2);
          }
        }

        .work_tag {
          margin-top: 10px;
          background-color: rgba($color: #002944, $alpha: 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          width: 200px;
          padding: 10px;

          span {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #002944;
          }
        }

        .work_heading {
          margin-top: 6px;

          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 140%;
            color: #002944;
          }
        }
      }
      .work_card2 {
        margin-top: 5%;

        width: 30%;
        .work_img {
          width: 100%;
          height: 80%;
          overflow: hidden;
          img {
            transition: transform 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img:hover {
            transform: rotate(-4deg) scale(1.2);
          }
        }

        .work_tag {
          margin-top: 10px;
          background-color: rgba($color: #002944, $alpha: 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          width: 200px;
          padding: 10px;

          span {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #002944;
          }
        }

        .work_heading {
          margin-top: 6px;

          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 140%;
            color: #002944;
          }
        }
      }
      .work_card3 {
        margin-top: 5%;

        width: 40%;
        margin-right: 0px;
        .work_img {
          width: 100%;
          height: 80%;
          overflow: hidden;
          img {
            transition: transform 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          img:hover {
            transform: rotate(-4deg) scale(1.2);
          }
        }

        .work_tag {
          margin-top: 10px;
          background-color: rgba($color: #002944, $alpha: 0.1);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          width: 200px;
          padding: 10px;

          span {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #002944;
          }
        }

        .work_heading {
          margin-top: 6px;

          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 140%;
            color: #002944;
          }
        }
      }
    }
  }

  .work_btn_div {
    margin: 2% 0%;
    display: flex;
    justify-content: center;
    .footer-button {
      width: 50px;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #00253f;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
      border-radius: 40px;
      transition: 0.2s;
    }
    .footer-button:hover {
      width: 200px;
      transition: 0.2s;
    }
    .foolter-icon-button {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .buttonContainer {
      display: flex;
      position: relative;
    }
    .foolter-icon-card {
      color: white;
      width: 150px;
      font-size: 17px;
      font-weight: 800px;
    }
    .foolter-icon-card-absolute {
      color: #00253f;
      width: 150px;
      top: 10px;
      position: absolute;
      left: 55px;
      z-index: 0;
      font-size: 17px;
      font-weight: 800px;
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .work_section {
    // padding: 0 150px;

    .heading {
      .title {
        h1 {
          font-size: 35px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 50px;

          img {
            width: 20px;
            height: 35px;
          }
        }

        .arrow_next {
          img {
            width: 20px;
            height: 35px;
          }
        }
      }
    }

    .work_btn {
      margin-top: 30px;
      width: 200px;
      height: 45px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .work_section {
    .heading {
      .title {
        h1 {
          font-size: 35px;
        }
      }
    }
    .work_sectionAlpha {
      .work_container {
        width: 100%;
      }
    }
    .work_btn_div {
      margin-top: 60px;
      .work_btn {
        width: 200px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .work_section {
    .work_sectionAlpha {
      width: 100%;
      .work_container {
        width: 100%;
      }
    }
    .heading {
      .title {
        h1 {
          font-size: 30px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 40px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .work_btn_div {
      margin: 5% 0%;
    }
    .work_btn {
      width: 180px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .work_section {
    width: 100%;

    .work_sectionAlpha {
      .work_container {
        width: 100%;
        align-content: center;
        #work_card0 {
          width: 40%;
        }
        #work_card1 {
          width: 40%;
        }
        #work_card2 {
          width: 40%;
        }
        #work_card3 {
          width: 40%;
        }
      }
    }
    .heading {
      .title {
        h1 {
          padding-top: 20px;
          font-size: 35px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 40px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .work_container {
      width: calc(100% + 75px);
      margin-top: 40px;
      margin-left: 0px;
      #work_card0 {
        margin-left: 0px;
        width: 500px;
        height: 500px;
      }
      #work_card1 {
        margin-left: 0px;
        width: 500px;
        height: 500px;
      }
      #work_card2 {
        margin-left: 0px;
        width: 500px;
        height: 500px;
      }
      #work_card3 {
        margin-left: 0px;
        width: 500px;
        height: 500px;
      }

      .work_card {
        margin-right: 20px;

        .work_img {
          width: 340px;
          height: 210px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .work_tag {
          margin-top: 8px;

          span {
            font-size: 11px;
          }
        }

        .work_heading {
          margin-top: 5px;

          h2 {
            font-size: 17px;
          }
        }
      }
    }

    .work_btn {
      width: 180px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 450px) {
  .work_section {
    width: 100%;

    .heading {
      .title {
        background-image: none;
      }
    }
    .work_container {
      width: calc(100% + 50px);
      #work_card0 {
        margin-left: 0px;
        width: 300px;
        height: 300px;
      }
      #work_card1 {
        margin-left: 0px;
        width: 300px;
        height: 300px;
      }
      #work_card2 {
        margin-left: 0px;
        width: 300px;
        height: 300px;
      }
      #work_card3 {
        margin-left: 0px;
        width: 300px;
        height: 300px;
      }

      .work_card {
        .work_img {
          width: 340px;
          height: 210px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .work_heading {
          h2 {
            font-size: 16px;
          }
        }
      }
    }

    .work_btn {
      width: 180px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 450px) {
  .work_section {
    .heading {
      width: 100%;
      height: 100%;
      .title {
        width: 100%;
        background-size: contain;
        height: 100%;
        h1 {
          font-size: 35px;
          height: 100%;
          background-size: cover;
          width: 100%;
        }
      }
    }
    .work_sectionAlpha {
      width: 100%;
      .work_container {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
      }
      #work_card0 {
        width: 90% !important;
      }
      #work_card1 {
        width: 90% !important;
      }
      #work_card2 {
        width: 90% !important;
        .work_img {
          height: 300px;
        }
      }
      #work_card3 {
        width: 90% !important;
      }
    }
    .work_btn_div {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .complete-button {
        margin-right: 80px;
      }
    }
  }
}
