.carousel-maincontainer{
  width: 90%;
}
.carousel-text{
  font-size: 25px;
  text-align: center;
}
.heading {
  margin-top: 5%;
  .title {
    padding: 1% 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
    .title-is-medium {
      background-image: url("../../assets/images/Carousal/News-from-medium.png");
      padding: 3% 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 35px;
    }
    .title-is-instagram {
      background-image: url("../../assets/images/Carousal/News-from-instagram.png");
      padding: 3% 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 35px;
    }
    .title-is-linkedin {
      background-image: url("../../assets/images/Carousal/News-from-linkedin.png");
      padding: 3% 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      font-size: 35px;
    }
  }
}

.news_container {
  display: flex;
  justify-content: center;
  gap: 20px;

  .work_card {
    transition: transform 650ms;
    will-change: transform;
    .image-container {
      width: auto;
      img {
        width: 370px;
        height: 427px;
      }
    }
  }
  .work_card:hover {
    transform: translateY(50px);
  }
  #work_card0 {
    width: 370px;
    height: 563px;
    position: relative;
  }
  #work_card1 {
    width: 370px;
    height: 563px;
    top: 20px;
    position: relative;
  }
  #work_card2 {
    width: 370px;
    height: 563px;
    position: "relative";
  }
  .work_card_date {
    margin-top: 20px;
    //   text-align: center;
    color: #002944;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #e5e9ec;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .news_card {
    margin-right: 40px;

    .news_img {
      width: 460px;
      height: 280px;
      img {
        width: 460px;
        height: 100%;
        object-fit: cover;
      }
    }

    .news_tag {
      margin-top: 10px;

      span {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        color: #9e9e9e;
      }
    }

    .news_heading {
      margin-top: 6px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140%;
        color: #002944;
      }
    }
  }
}

.carusal_right {
  margin: 150px 0;
  padding: 0 200px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 120%;
        color: #002944;
      }
    }

    .navigation_icon {
      display: flex;

      .arrow_previous {
        padding-right: 60px;
        cursor: pointer;

        img {
          width: 22px;
          height: 40px;
        }
      }

      .arrow_next {
        cursor: pointer;

        img {
          width: 22px;
          height: 40px;
        }
      }
    }
  }

  .carusal_container {
    display: flex;
    width: calc(100% + 200px);
    margin-top: 40px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .carusal_card {
      margin-right: 40px;

      .carusal_img {
        width: 460px;
        height: 280px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .carusal_tag {
        margin-top: 10px;

        span {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 120%;
          color: #9e9e9e;
        }
      }

      .carusal_heading {
        margin-top: 6px;

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 140%;
          color: #002944;
        }
      }

      .carusal_description {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #9e9e9e;
      }
    }
  }

  .carusal_btn {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #002944;
    width: 200px;
    height: 50px;
    font-size: 18px;

    .link {
      color: #002944;

      .arrow {
        font-size: 30px;
        margin-left: 10px;
      }
    }

    &:hover {
      background-color: #002944;
      .link {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .carusal_right {
    padding: 0 150px;

    .heading {
      .title {
        h1 {
          font-size: 40px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 50px;

          img {
            width: 20px;
            height: 35px;
          }
        }

        .arrow_next {
          img {
            width: 20px;
            height: 35px;
          }
        }
      }
    }

    .carusal_container {
      width: calc(100% + 150px);
      margin-top: 40px;

      .carusal_card {
        margin-right: 20px;

        .carusal_img {
          width: 380px;
          height: 230px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .carusal_tag {
          margin-top: 10px;

          span {
            font-size: 13px;
          }
        }

        .carusal_heading {
          margin-top: 6px;

          h2 {
            font-size: 20px;
          }
        }
      }
    }

    .carusal_btn {
      margin-top: 30px;
      width: 200px;
      height: 45px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .news_container {
    #work_card0 {
      width: 30%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
    #work_card1 {
      width: 30%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
    #work_card2 {
      width: 30%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .news_container {
    flex-wrap: wrap;
    #work_card0 {
      width: 45%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
    #work_card1 {
      width: 45%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
    #work_card2 {
      width: 45%;
      .image-container {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .work_card_date {
        padding: 2% 5%;
      }
      h2 {
        margin-top: 4%;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carusal_right {
    margin: 100px 0;
    padding: 0 75px;

    .heading {
      .title {
        h1 {
          font-size: 30px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 40px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .carusal_container {
      width: calc(100% + 75px);
      margin-top: 40px;

      .carusal_card {
        margin-right: 20px;

        .carusal_img {
          width: 340px;
          height: 210px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .carusal_tag {
          margin-top: 8px;

          span {
            font-size: 11px;
          }
        }

        .carusal_heading {
          margin-top: 5px;

          h2 {
            font-size: 17px;
          }
        }
      }
    }

    .carusal_btn {
      width: 180px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 576px) {
  .carusal_right {
    margin: 100px 0;
    padding: 0 50px;

    .carusal_container {
      width: calc(100% + 50px);

      .carusal_card {
        .carusal_img {
          width: 340px;
          height: 210px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .carusal_heading {
          h2 {
            font-size: 16px;
          }
        }
      }
    }

    .carusal_btn {
      width: 180px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 450px) {
  
  .heading {
    h1 {
      font-size: 30px !important;
    }
  }
  .news_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .work_card {
      transition: transform none;

      .image-container {
        width: auto;
        img{
          height: 65% !important;
          width: 100% !important;

        }
      }
    }
    .work_card:hover {
      transform: none;
    }
    #work_card0 {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .work_card_date {
        width: 80%;
      }
    }
    #work_card1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .work_card_date {
        width: 80%;
      }
    }
    #work_card2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .work_card_date {
        width: 80%;
      }
    }
  }
}
