.contactus-form {
  padding: 0px 200px;
}
.contact-icon{
  width: 50px;
}
.form-divider {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.form-messagedivider {
  margin-top: 20px;
}
.field-container {
  width: 49%;
}
.contact-field {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 20px;
}
.contact-textfield {
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 20px;
}
.field-label {
  font-size: 15px;
  display: flex;
}
.contactus-button {
  background-color: #002944;
  border-radius: 35px;
  padding: 20px 40px;
  margin-top: 40px;
  width: 250px;
  cursor: pointer;
  color: white;
}

.contactUs-icon-section {
  margin-top: 2%;
  padding: 0px 0px;
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .contactUs-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .message-us-box {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        color: #848484;
        margin-top: 25px;
        text-align: center;
      }
    }
    .call-us-box {
    }
    .address-box {
      p {
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .contactus-form {
    padding: 0px 150px !important;
  }
}

@media screen and (max-width:1024px ) and (min-width: 786px) {
  .contactus-form {
    padding: 0px 0px !important;
  }
  .contactUs-icon-section {
    width: 100%;
    .contactUs-icons {
      display: flex;
      justify-content: space-evenly !important;
      align-items: center;
      width: 100%;
      // flex-direction: column;
      .vertical-line {
        display: none;
      }
      .message-us-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
          width: 100%;
          color: #848484;
          margin-top: 25px;
          text-align: center;
        }
      }
      .call-us-box {
      }
      .address-box {
        p {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width:786px ) and (min-width: 425px) {
  .contactus-form {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .container-padding {
    padding: 0px 0px;
  }
  .contactus-form {
    padding: 0px 0px;
  }
  .field-container {
    width: 100%;
    margin-top: 20px;
  }
  .form-divider {
    flex-direction: column;
  }
  .contactus-button {
    width: 100%;
  }
  .contactUs-icon-section {
    width: 100%;
    margin-top: 25px;
    padding-top: 35px;
    .contactUs-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 40px;
      flex-direction: column;
      .vertical-line {
        display: none;
      }
      .message-us-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
          width: 100%;
          color: #848484;
          margin-top: 25px;
          text-align: center;
        }
      }
      .call-us-box {
      }
      .address-box {
        p {
          width: 250px;
        }
      }
    }
  }
  #googleMap{
    margin: 50px 0px;
  }
}
