.capable-container {
  width: 100%;
  margin: 35px 0px;
}
.capable-innercontainer {
  width: 100%;
  // margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capable-inner-reverse-container {
  width: 100%;
  // margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}
.image-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.setImage-container {
  width: 100%;
}
.image-innercontainer {
  width: 70%;
}
.image-header {
  font-size: 27px;
}
.image-desc {
  font-size: 15px;
  color: #bbbbbb;
  margin-top: 20px;
}
.bullet-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bullet-innerflex {
  width: 50%;
  display: flex;
  margin: 8px 0px;
  justify-content: space-between;
  // align-items: center;
  flex-wrap: wrap;
}
.bullet {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}
.bullet-text {
  font-size: 20px;
  width: 90%;
  color: gray;
}
.bullet-innerflex {
  width: 100%;
  display: flex;
  margin: 8px 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bullet-innerflex2 {
  width: 100%;
  display: flex;
  margin: 8px 0px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-bullet-text {
  font-size: 18px;
  width: 93%;
  color: #c8c8c8;
}

  .work_page .hero_card .content .heading h1 {
    font-size: 80px;
    text-align: center;
    width: 70%;
  }
  .work_page .hero_card .content .heading{
    width: 100%;
    display: flex;
    justify-content: center;
  }

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .bullet {
    width: 15px;
    height: 15px;
  }
  .bullet-text {
    font-size: 15px;
    width: 90%;
  }
  .image-innercontainer {
    width: 80%;
  }
  .image-container{
    height: 410px !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .image-innercontainer {
    width: 90%;
  }
  .capable-inner-reverse-container {
    flex-direction: column;
    margin-top: 0px;
  }
  .capable-innercontainer {
    flex-direction: column;
  }
  .image-container{
    height: 410px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 428px) {
  .image-innercontainer {
    width: 90%;
  }
  .work_page .hero_card .content .heading h1 {
    font-size: 60px !important;
  }
  .capable-inner-reverse-container {
    flex-direction: column;
    margin-top: 0px;
  }
  .capable-innercontainer {
    flex-direction: column;
  }
  .work_page .backlog-text {
    font-size: 85px !important;
  }
  .bullet-text {
    font-size: 16px;
    width: 90%;
  }
  .bullet{
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 428px) and (min-width: 320px) {
  .image-innercontainer {
    width: 90%;
  }
  .bullet-innerflex2 {
    align-items: flex-start;
  }
  .image-container {
    height: 450px !important;
  }
  .bullet {
    width: 10px;
    height: 10px;
    margin-top: 7px;
  }
  .bullet-text {
    font-size: 14px;
  }
  .capable-inner-reverse-container {
    flex-direction: column;
    margin-top: 0px;
  }
  .capable-innercontainer {
    flex-direction: column;
    // margin: 50px 0px;
  }
  .work_page .backlog-text {
    font-size: 60px !important;
  }
  .work_page .hero_card .content .heading h1 {
    width: 100%;
    font-size: 35px !important;
    text-align: center;
  }
  .setImage-container{
    height: 60vh;
    width: auto;
  }
  .setd-container{
    height: 500px !important;
  }
}
