.journey_sectioon {
  margin: 150px 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 200px;
    height: 100%;
    display: flex;
    align-items: center;

    .text-content {
      background-image: url("../../../assets/images/mainPage/Journey/Journey.png");
      display: flex;
      flex-direction: column;
      width: 65%;
      background-size: contain;
      background-position: 0px -60px;
      background-repeat: no-repeat;
      padding: 40px 0px;
    }

    .journey-Img {
      position: absolute;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      color: #ffffff;
    }

    p {
      margin-top: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 140%;
      color: #ffffff;
    }

    button {
      margin-top: 40px;
      height: 50px;
      width: 240px;
      font-weight: 400;
      background: transparent;
      border: 1px solid #fff;
      box-sizing: border-box;
      font-size: 18px !important;

      .link {
        color: #fff;
      }

      .arrow {
        padding-left: 15px;
        font-size: 50px;
      }

      &:hover {
        .link {
          color: #000;
        }
        background-color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .journey_sectioon {
    // margin: 150px 0;

    img {
      width: 100%;
      height: 100%;
    }

    .content {
      padding: 0 150px;

      h1 {
        font-size: 40px;
      }

      p {
        margin-top: 40px;
        font-size: 18px;
      }

      button {
        margin-top: 45px;
        // height: 50px;
        // width: 240px;

        // font-size: 18px;

        .arrow {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .journey_sectioon {
    img {
      height: 320px;
    }

    .content {
      padding: 0 100px;
      .text-content {
        width: 100%;
        background-position: 0px -10px;
      }

      h1 {
        font-size: 35px;
      }

      p {
        margin-top: 30px;
        font-size: 16px;
      }

      button {
        margin-top: 30px;
        height: 40px;
        width: 180px;

        font-size: 16px;

        .arrow {
          font-size: 39px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .journey_sectioon {
    margin: 120px 0;

    img {
      height: 280px;
    }

    .content {
      padding: 0 75px;

      p {
        font-size: 15px;
      }

      h1 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .journey_sectioon {
    margin: 100px 0;

    img {
      height: 240px;
    }

    .content {
      padding: 0 50px;

      width: 80%;
      p {
        margin-top: 20px;
        font-size: 15px;
      }

      h1 {
        font-size: 30px;
      }

      button {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .journey_sectioon {
    margin: 80px 0;

    img {
      height: 260px;
    }

    .content {
      padding: 0 30px;

      width: 70%;
      p {
        margin-top: 20px;
        font-size: 15px;
      }

      h1 {
        font-size: 30px;
      }

      button {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }
}
