.float-form{
    width: 450px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 25px #00000073;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}
.innerfloat-1{
    width: 46%;
    flex-direction: column;
    justify-content: space;
    height: 220px;
    // overflow: hidden;
    display: flex;
    border-radius: 15px;
}
.innerfloat-2{
    width: 46%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
}
.card-image{
    width: 50%;
}
.cart-icon-card {
  color: #00253f;
  width: 150px;
  font-size: 17px;
  font-weight: 800px;
  text-decoration: none !important;
}
.cart-icon-card-absolute {
  color: white;
  width: 150px;
  top: 10px;
  position: absolute;
  left: 55px;
  z-index: 0;
  font-size: 17px;
  font-weight: 800px;
}
.form-header {
    font-size: 20px;
    font-family: Arial-Black;
    text-transform: capitalize;
}
.form-desc {
    font-size: 18px;
    width: 80%;
    text-transform: capitalize;
}
.form-side-button{
    width: 90%;
    height: 40px;
    margin-left: 2.5%;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .float-form{
        width: 100%;
        right: 0px;
    }
}