.footer {
  margin-top: 150px;

  .footer_content_row {
    padding-left: 250px;
    margin-bottom: -180px;
    position: relative;
    width: 100%;
    img {
      // border: 1px solid blue;
      width: 100%;
      height: 100%;
    }

    .content {
      position: absolute;
      color: #fff;
      top: 0;
      padding-left: 200px;
      height: 100%;
      display: flex;
      align-items: center;
      width: 60%;

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 120%;
        color: #ffffff;
      }

      p {
        margin-top: 40px;
        font-style: normal;
        font-size: 20px;
        line-height: 140%;
      }

      button {
        margin-top: 30px;
        height: 50px;
        width: 240px;
        font-weight: 400;
        background: transparent;
        border: 1px solid #fff;
        box-sizing: border-box;
        font-size: 18px !important;
        color: #fff;

        .arrow {
          padding-left: 15px;
          font-size: 50px;
        }

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  .Testing-parent{
  display:flex;
  min-height: 70px;
  justify-content: center;
  }
  .blackImage {
    width: 100%;
    z-index: -1;
  }
.blackBox{
  position:absolute;
  right:5%;

}
.setLinks{
  display:flex;
  align-items:center;

    width: 44%;

}
  .header_links {
    display:flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    
    width: 50%;

    .blackBox {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 50px;
    }
  }
  .page-links {
    display: flex !important;
   width: 60%;
    float: right;
    justify-content: space-evenly;
  }
  .copyright {
    width: 50%;
    font-size: 17px;
  }
  .socialmedia-icon {
       gap: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header_links {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      width: 35%;
      padding: 0;
    }
  }
  .social-link {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
  }

  .footer_links_row {
    background: #002944;
    padding: 70px 200px;

    .footer_logo {
      height: 48px;
    }
    .privacy_policy {
      margin-top: 30px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      color: #fff;
      cursor: pointer;
    }

    .email,
    .map {
      color: #fff;

      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.02em;
      margin: 0;
    }
    .map {
      margin-top: 8px;
    }

    .pages_links {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        font-size: 18px;

        li {
          .link {
            color: #fff;
          }
        }
      }
    }
  }
}
.footer_link {
  color: black;
  font-size: 17px;
}
.footer_link:hover {
  color: black;
}

.foolter-icon-button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  display: flex;
  position: relative;
}
.foolter-icon-card {
  color: #00253f;
  width: 150px;
  font-size: 17px;
  font-weight: 800px;
  text-decoration: none !important;
}
.foolter-icon-card-absolute {
  color: white;
  width: 150px;
  top: 10px;
  position: absolute;
  left: 55px;
  z-index: 0;
  font-size: 17px;
  font-weight: 800px;
}
.social-link {
  color: black;
}
.social-link:hover {
  color: black;
}
.footer-button {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  border-radius: 40px;
  transition: 0.2s;
}
.footer-button:hover {
  width: 200px;
  transition: 0.2s;
}

@media screen and (max-width: 1400px) {
  .footer {
    .footer_content_row {
      .content {
        padding-left: 150px;

        h1 {
          font-size: 40px;
        }

        p {
          margin-top: 40px;
          font-size: 18px;
        }

        button {
          margin-top: 30px;
          font-size: 18px;

          .arrow {
            font-size: 50px;
          }
        }
      }
    }

    .pages_links {
      ul {
        li {
          font-size: 16px;
        }
      }
    }

    .footer_links_row {
      padding: 70px 150px;

      .footer_logo {
        height: 40px;
      }

      .email,
      .map {
        font-size: 18px;
      }

      .map {
        margin-top: 8px;
      }

      .social_links {
        margin-top: 50px;

        ul {
          margin-left: 50px;

          li {
            padding-left: 60px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footer_content_row {
      img {
        width: 100%;
        height: 100%;
      }

      .content {
        padding-left: 100px;
        width: 50%;

        h1 {
          font-size: 35px;
        }

        p {
          margin-top: 30px;
          font-size: 16px;
        }

        button {
          margin-top: 20px;
          height: 40px;
          width: 240px;
          font-size: 16px;

          .arrow {
            font-size: 40px;
          }
        }
      }
    }

    .pages_links {
      ul {
        li {
          font-size: 14px;
        }
      }
    }

    .footer_links_row {
      padding: 70px 100px;

      .footer_logo {
        height: 40px;
      }

      .email,
      .map {
        font-size: 16px;
      }

      .map {
        margin-top: 8px;
      }

      .social_links {
        ul {
          margin-left: 40px;
          display: flex;
          justify-content: space-between;

          li {
            padding-left: 40px;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.02em;

            &:first-child {
              padding-left: 0;
            }

            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    margin-top: 120px;

    .footer_content_row {
      img {
        width: 100%;
        height: 392px;
      }

      .content {
        width: 70%;

        h1 {
          font-size: 30px;
        }

        p {
          margin-top: 30px;
          font-size: 16px;
        }

        button {
          margin-top: 30px;
          height: 40px;
          font-size: 16px;

          .arrow {
            font-size: 30px;
          }
        }
      }
    }

    .footer_links_row {
      .pages_links {
        ul {
          padding: 0;
          font-size: 18px;

          li {
            margin-bottom: 15px;
          }
        }
      }

      .social_links {
        margin-top: 0;
        ul {
          padding: 0;
          display: flex;
          justify-content: space-between;

          margin: 0;
          li {
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 0.02em;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer{
    margin-top: 180px;
  }
  .footer .footer_content_row {
    padding-left: 0px;
  }
  .footer .footer_content_row .content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide-container {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
.footer .Testing-parent{
flex-direction: column;
}
.footer .header_links{
width: auto;  
  

}
.footer .setLinks{
  
  width: auto;
  flex-direction: column;
}
.footer .copyright{
  width:100%
}
.socialmedia-icon{
  visibility: visible !important;
      margin: 20px 0px;
}

  .footer_link{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
  }
  .footer {
    .footer_content_row {
      margin-bottom: 0px;
    }
    .header_links {
      flex-wrap: wrap;
      height: 200px;
      .page-links {
        width: 100% !important;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
      .setLinks {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: red;
        div {
          margin: 5px 0px;
        }
      }
    }
  }
  .footer {
    width: 100%;
  }
  .copyright{
    text-align: center;
  }
  .socialmedia-icon{
    width: 100%;
    display: none;
    visibility: hidden;
  }
}


@media screen and (max-width: 991px) and (min-width: 576px){

.footer .page-links{
  
  width:auto;
  gap: 10px;
}
.footer .setLinks{
  width:auto;
  justify-content: center;
}


}
@media screen and (max-width: 1350px) and (min-width: 1000px){
.footer .page-links{
  width:80%;
}
}