.heading-container1 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets//images/AboutusPage/branding-fueled.png");
  background-position: center;
  background-repeat: no-repeat;
  .heading2 {
    width: 1000px;
    font-size: 35px;
    text-align: center;
  }
}
.next-icon{
    font-size: 50px;
  }
.brand_section {
  // margin-top: 5%;
  width: 100%;
  background-color: #f8f8f8;
  padding-bottom: 100px;

  .heading {
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    background-image: url("../../assets//images/mainPage//cooperation/Cooperation.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    h1 {
      margin-top: 20px;
      font-weight: lighter;
      color: #002944;
      font-size: 35px;
    }
  }

  .slider_container {
    margin-top: 40px;
    padding: 0 150px;
    height: 260px;
    // background-image: url("../../assets/images/brand-slider-backgroud.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .arrow_previous {
      position: absolute;
      left: 70px;
      cursor: pointer;
      user-select: none;
    }

    .arrow_next {
      position: absolute;
      right: 70px;
      cursor: pointer;
      user-select: none;
    }

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
      transform: scale(1.25);
    }

    .slide.active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1);
    }

    .arrow-button {
     
    }
    .content {
      padding-top: 9%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 20px;
        line-height: 140%;
        color: #494949;
        width: 70%;
      }

      h6 {
        margin-top: 26px;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        color: #002944;
      }
    }
  }
}

.branding_images {
  padding-top: 6.5%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .brand_section {
    .heading {
      width: 100%;
      background-image: url("../../assets//images/mainPage//cooperation/Cooperation.png");
      background-repeat: no-repeat;
      background-size: auto;
      h1 {
        font-size: 40px;
      }
    }

    .slider_container {
      margin-top: 40px;
      padding: 0 100px;
      height: 260px;

      .arrow_previous {
        left: 50px;
      }

      .arrow_next {
        right: 50px;
      }

      .content {
        p {
          font-size: 20px;
          line-height: 140%;
        }

        h6 {
          margin-top: 26px;
          font-size: 16px;
        }
      }
    }

    .branding_images {
      margin-top: 50px;

      &:first-child {
        margin-left: -20px;
      }
      &:last-child {
        margin-right: -50px;
      }

      img {
        width: 140px;
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .next-icon{
    font-size: 80px;
  }
  .heading-container1 {
    background-size: cover;
    .heading2 {
      margin-top: 1%;
      width: 80%;
      font-size: 32px;
    }
  }
  .brand_section {
    .heading {
      h1 {
        font-size: 50px;
      }
    }

    .slider_container {
      margin-top: 30px;

      .arrow_previous {
        left: 40px;
      }

      .arrow_next {
        right: 40px;
      }

      .content {
        p {
          font-size: 18px;
        }
      }
    }

    .branding_images {
      margin-top: 30px;

      &:first-child {
        margin-left: -20px;
      }
      &:last-child {
        margin-right: -50px;
      }

      img {
        width: 120px;
        height: 80px;
      }
    }
  }
  .branding_images {
  }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
  .next-icon{
    font-size: 100px;
  }
  .brand_section {
    .heading-container1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-size: contain;
      padding: 20px;

      .heading2 {
        background-size: contain;
        font-size: 32px;
      }
    }
    .slider_container {
      margin: 100px 0px;
      .arrow-button {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media screen and (max-width: 575px) and (min-width: 450px) {
  .brand_section {
    .slider_container {
      margin-top: 30px;
      padding: 0 50px;

      .arrow_previous {
        left: 20px;
        width: 30px;
        height: 30px;
      }

      .arrow_next {
        width: 30px;
        height: 30px;
        right: 20px;
      }

      .content {
        p {
          font-size: 16px;
          line-height: 18px;
        }
        h6 {
          margin-top: 20px;
          font-size: 12px;
        }
      }
    }

    .branding_images {
      margin-top: 20px;
      text-align: center;

      img {
        width: 100px;
        height: 70px;
      }
    }
  }
}

@media screen and (max-width: 449px) {
  .next-icon{
    font-size: 150px;
  }
  .main-heading-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-container1 {
    background-size: contain;
    width: 80%;
    padding-top: 10%;

    .heading2 {
      width: 100%;
      font-size: 20px;
    }
  }

  .brand_section {
    padding-bottom: 200px;
    .heading {
      h1 {
        padding-top: 10px;
        font-size: 30px;
      }
    }
    .slider_container {
      width: 100%;
      padding: 0px;
      .arrow-button {
        font-size: 40px;
        width: 300px;
        display: none;
      }

      .content {
        margin-top: 120px;
        width: 100%;
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .branding_images {
    display: flex;
    justify-content: center;
    align-content: center;
    img {
      width: 60px;
      height: 40px;
    }
  }
}
