.journey-header-desc{
	width: 50%;
	color: rgb(211, 211, 211);
	font-size: 17px;
	text-align: center;
	margin-top: 10px;
}
.set-bullet{
	width: 12px;
	height: 12px;
}
.service-maincontainer{
	width: 100%;
	display: flex;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	background-color: #F8F8F8;
	padding: 80px 0px;
}
.innerservice-lists{
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list-heading{
	font-size: 26px;
	font-weight: 800;
	color: #002944;
}
.image-cardtitle-desc{
	font-size: 17px;
	color: #C8C8C8;
	margin-top: 15px;
}
.bullet-settext{
	font-size: 14px;
	width: 90%;
}
.journey-subcontainer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.setJourney{
	justify-content: center;
}
.journey-button{
	background-color: #002944;
	border-radius: 35px;
	padding: 20px 40px;
	margin-top: 40px;
	cursor: pointer;
}
.journey-button-text{
	color: white;
}
.journey-subcontainer{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.journey-subcontainer1{
	width: 40%;
	overflow: hidden;
}
.journey-subcontainer2{
	width: 60%;
	display: flex;
	justify-content: center;;
}
.journey-image{
	width: 100%;
}
.journey-container1{
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.journey-container2{
	width: 35%;
	display: flex;
	padding-left: 25px;
	justify-content: center;
	flex-direction: column;
	border-left: 1px solid gray;
}
.journey-container-header{
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 40px;
}
.setBullet{
	width: 90%;
}
.journey-sub-container{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
	}
	.setjourney{
		margin-top: 30px;
	}

	@media screen and (max-width: 1024px) and (min-width: 768px) {
		.innerservice-lists{
	width: 40%;
	margin: 25px 0px;
}
.service-maincontainer{
	flex-wrap: wrap;
	width: 100%;
}
	}
	@media screen and (max-width: 768px) and (min-width: 425px) {
		.journey-subcontainer{
	flex-direction: column;
}
       .journey-subcontainer1{
		   width: 95%;
	   }
       .journey-subcontainer2{
		   width: 100%;
		   margin-top: 25px;
	   }
	   .journey-container1{
		   width: 45%;
	   }
	   .journey-container2{
		   width: 45%;
	   }
	}

	@media screen and (max-width: 425px) and (min-width: 320px) {

.service-maincontainer{
	flex-wrap: wrap !important;
	width: 100%;
	align-items: flex-start;
	justify-content: flex-start;
}
.innerservice-lists{
	width: 100%;
}
.slider-list{
	width: 90%;
	margin-top: 25px;
}
		.journey-subcontainer2{
		   width: 100%;
		   margin-top: 25px;
			flex-direction: column;
			width: 90%;
		}
		.journey-subcontainer{
			flex-direction: column;
		}
		.journey-subcontainer1{
			width: 95%;
		}
		.journey-container2{
		   width: 100%;
		   border-left: none;
		   padding-left:0px
	   }
		.journey-container1{
		   width: 100%;
	   }
	   .journey-header-desc{
		   width: 80%;
		   text-align: justify;
	   }
	}