.news_scetion {
  .heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .title {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      position: absolute;
      background-image: url("../../../assets/images//mainPage/News/News.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      width: 80%;
      h1 {
        overflow: hidden;
        padding-top: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        color: #002944;
      }
    }
  }

  .news_container {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    // flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    // overflow-x: scroll;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    .work_card {
      transition: transform 650ms;
      will-change: transform;
    }
    .work_card:hover {
      transform: translateY(50px);
    }
    #work_card0 {
      width: 370px;
      height: 565px;
      top: 10px;
      position: relative;
      .work_card_date {
        padding: 2%;
      }
    }
    #work_card1 {
      width: 370px;
      height: 565px;
      top: 100px;
      position: relative;
      .work_card_date {
        padding: 2%;
      }
    }
    #work_card2 {
      width: 370px;
      height: 563px;
      top: -50px;
      position: "relative";
      .work_card_date {
        padding: 2%;
      }
    }
    .work_card_date {
      margin-top: 20px;
      //   text-align: center;
      color: #002944;
      border-radius: 5px;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: #e5e9ec;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .news_card {
      margin-right: 40px;

      .news_img {
        width: 460px;
        height: 280px;
        img {
          width: 460px;
          height: 100%;
          object-fit: cover;
        }
      }

      .news_tag {
        margin-top: 10px;

        span {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 120%;
          color: #9e9e9e;
        }
      }

      .news_heading {
        margin-top: 6px;

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 140%;
          color: #002944;
        }
      }
    }
  }

  .news_btn {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #002944;
    width: 200px;
    height: 50px;
    font-size: 18px;

    .link {
      color: #002944;

      .arrow {
        font-size: 30px;
        margin-left: 10px;
      }
    }

    &:hover {
      background-color: #002944;
      .link {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .news_scetion {
    padding: 0 150px;

    .heading {
      .title {
        h1 {
          font-size: 35px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 50px;

          img {
            width: 20px;
            height: 35px;
          }
        }

        .arrow_next {
          img {
            width: 20px;
            height: 35px;
          }
        }
      }
    }

    .news_container {
      width: calc(100% + 150px);
      margin-top: 40px;

      .news_card {
        margin-right: 30px;

        .news_img {
          width: 380px;
          height: 230px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .news_tag {
          margin-top: 10px;

          span {
            font-size: 13px;
          }
        }

        .news_heading {
          margin-top: 6px;

          h2 {
            font-size: 20px;
          }
        }
      }
    }

    .news_btn {
      margin-top: 30px;
      width: 200px;
      height: 45px;
      font-size: 16px;

      .link {
        .arrow {
          font-size: 30px;
          margin-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .news_scetion {
    .heading {
      .title {
        padding-bottom: 20px;
      }
    }
    .news_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      #work_card {
      }
      #work_card0 {
        width: 30%;
        .img-div {
          // width: 20%;
          img {
            width: 100%;
          }
        }
      }
      #work_card1 {
        width: 30%;
        .img-div {
          // width: 20%;
          img {
            width: 100%;
          }
        }
      }
      #work_card2 {
        width: 30%;
        .img-div {
          // width: 20%;
          img {
            width: 100%;
          }
        }
      }
    }
    .heading {
      .title {
        h1 {
          font-size: 35px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 50px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .news_container {
      width: calc(100% + 100px);

      .news_card {
        margin-right: 25px;

        .news_img {
          width: 320px;
          height: 200px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .news_tag {
          margin-top: 8px;

          span {
            font-size: 12px;
          }
        }

        .news_heading {
          margin-top: 5px;

          h2 {
            font-size: 18px;
          }
        }
      }
    }

    .news_btn {
      margin-top: 25px;
      width: 180px;
      height: 40px;
      font-size: 16px;

      .link {
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .news_scetion {
    margin: 120px 0;
    padding: 0 75px;

    .heading {
      .title {
        h1 {
          font-size: 35px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 40px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .news_container {
      .news_card {
        margin-right: 20px;

        .news_img {
          width: 260px;
          height: 160px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .news_tag {
          margin-top: 8px;

          span {
            font-size: 11px;
          }
        }

        .news_heading {
          margin-top: 5px;

          h2 {
            font-size: 17px;
          }
        }
      }
    }

    .news_btn {
      margin-top: 22px;
      width: 180px;
      height: 40px;
      font-size: 16px;

      .link {
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .news_scetion {
    .heading {
      .title {
        h1 {
          font-size: 30px;
        }
      }

      .navigation_icon {
        .arrow_previous {
          padding-right: 40px;

          img {
            width: 18px;
            height: 30px;
          }
        }

        .arrow_next {
          img {
            width: 18px;
            height: 30px;
          }
        }
      }
    }

    .news_container {
      display: flex;
      justify-content: center;
      #work_card0 {
        width: 30%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      #work_card1 {
        width: 30%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      #work_card2 {
        width: 30%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }

    .news_btn {
      margin-top: 20px;
      width: 180px;
      height: 40px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 450px) {
  .news_scetion {
    margin: 100px 0;
    padding: 0 50px;

    .news_container {
      width: calc(100% + 50px);
      margin-top: 30px;

      .news_card {
        .news_img {
          width: 340px;
          height: 210px;
        }

        .news_heading {
          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .news_scetion {
    .news_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1%;

      #work_card0 {
        width: 80%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      #work_card1 {
        top: 0px;
        width: 80%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      #work_card2 {
        width: 80%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
