.capabillities_section {
  margin-top: 3%;
  display: flex;
  gap: 100px;
  width: 100%;
  //   padding: 0 200px;
  //   margin: 150px 0;
  .side-image {
    width: 600px;
  }

  .capa-right-sec {
    margin-right: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heading {
    width: 100%;
    h1 {
      text-transform: capitalize;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 120%;
      color: #002944;
      background-image: url(../../../assets/images/CapabilitiesPage/Capabilities-title-bg.png);
      background-size: auto;
      background-position: left;
      background-repeat: no-repeat;
      padding: 45px 0;
      .h1Shade {
        font-style: normal;
        position: absolute;
        font-size: 111px;
        // opacity: 30%;
        top: -12px;
        left: 0px;
        z-index: -1;
        width: 100%;
        // color: #545454;
      }
    }
  }
  .capa-para {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba($color: #9e9e9e, $alpha: 0.3);
    p {
      color: #002944;
      font-size: 23px;
      font-weight: 400;
      max-width: 100%;
    }
  }
  .capa-list-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    .capa-list {
      padding: 0;
      justify-content: flex-start;
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      font-weight: bold;
      .cool-link {
        font-weight: bold;
        border: none;
        background: transparent;
        display: inline-block;
        color: #0088e2;
      }
      .cool-link::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #0088e2;
        transition: width 0.3s;
      }
      .cool-link:hover::after {
        width: 100%;
      }
    }
  }
  .capa-detail-block {
    .detail-heading {
      font-size: 32px;
      font-weight: bold;
    }
    .detail-paragraph {
      width: 600px;
      color: #c8c8c8;
    }
  }

  .capabilities_card {
    margin-top: 40px;
    padding: 0;
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }

    .img_container {
      width: 100%;
      height: 240px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    h2 {
      margin-top: 20px;
      font-weight: bold;
      font-size: 22px;
      line-height: 120%;
      color: #002944;
    }
  }

  .capabilities_btn {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #002944;
    height: 50px;
    font-size: 18px;
    padding: 0 20px;

    .link {
      color: #002944;

      .arrow {
        font-size: 30px;
        margin-left: 10px;
      }
    }

    &:hover {
      background-color: #002944;
      .link {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1024px) {
  .capabillities_section {
    // padding: 0 150px;
    // margin: 150px 0;
    .img-div {
      margin-top: 50px;
      .side-image {
      }
    }
    .capa-right-sec {
      .heading {
        h1 {
          background-position: center;
          width: 100%;
          text-align: center;
          font-size: 35px;
        }
      }
      .capa-para {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        p {
          width: 80%;
          text-align: center;
        }
      }
      .capa-list-div {
        display: flex;
        justify-content: center;
      }
      .capa-detail-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        .detail-heading {
        }
        .detail-paragraph {
          text-align: center;
        }
      }
    }

    .capabilities_card {
      margin-top: 35px;
      padding-right: 25px;

      .img_container {
        height: 200px;
      }

      h2 {
        margin-top: 20px;
        font-size: 20px;
      }
    }

    .capabilities_btn {
      margin-top: 30px;
      height: 50px;
      font-size: 18px;

      .link {
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .capabillities_section {
    gap: 0px;
    flex-direction: column;
    padding: 0px 0px;

    .img-div {
      display: flex;
      justify-content: center;
      .side-image {
        height: 400px;
        width: 60%;
      }
    }

    .capa-right-sec {
      width: 100%;
      .heading {
        display: flex;
        justify-content: center;
        h1 {
          width: 100%;
          text-align: center;
          font-size: 35px;
        }
      }
    }

    .capabilities_card {
      margin-top: 35px;
      padding-right: 25px;

      .img_container {
        height: 200px;
      }

      h2 {
        margin-top: 15px;
        font-size: 18px;
      }
    }

    .capabilities_btn {
      margin-top: 30px;
      height: 40px;
      font-size: 18px;

      .link {
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .capabillities_section {
    gap: 20px;
    display: flex;
    flex-direction: column;
    .img-div {
      width: 100%;
      .side-image {
        width: 100%;
        height: 400px;
      }
    }
    .capa-right-sec {
      display: flex;
      margin-right: 0px;
      justify-content: center;
      .heading {
        width: 100%;
        h1 {
          height: 100%;
          background-position: center;
          text-align: center;
          font-size: 35px;
        }
      }
      .capa-para {
        width: 100%;
      }
      .capa-list-div {
        display: flex;
        justify-content: center;
      }
      .capa-detail-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        .detail-heading {
          text-align: center;
          width: 100%;
        }
        .detail-paragraph {
          min-width: 80%;
          text-align: center;
          width: 100%;
        }
      }
    }

    .capabilities_btn {
      margin-top: 30px;
      height: 40px;
      font-size: 16px;

      .link {
        .arrow {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) and (min-width: 576px) {
  .capabillities_section {
    .capa-right-sec {
      .capa-para {
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .heading h1 {
        font-size: 35px;
      }
      .capa-list-div {
        .capa-list {
          font-size: 12px;
          width: 500px;
        }
      }
      .capa-detail-block {
        .detail-paragraph {
          width: 500px;
        }
      }
    }

    .capabilities_card {
      margin-top: 30px;
      padding-right: 0px;

      .img_container {
        width: 100%;
        height: 250px;
      }

      h2 {
        margin-top: 15px;
        font-size: 17px;
      }
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 450px) {
  .capabillities_section {
    padding: 0 50px;
    margin: 100px 0;

    .capa-right-sec {
      .heading h1 {
        background: none;
      }
    }

    .capabilities_card {
      .img_container {
        width: 100%;
        height: 220px;
      }
    }
    .work_btn_div {
      margin-top: 100px;
    }
  }
}

@media screen and (max-width: 450px) {
  .capabillities_section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    display: flex;
    gap: 20px;
    .img-div {
      display: flex;
      width: 100%;
      height: 300px;
      .side-image {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }

    .capa-right-sec {
      display: flex;
      width: 100%;
      justify-content: center;
      .heading {
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
          background-size: contain;
          width: 100%;
          font-size: 30px;
          text-align: center;
        }
      }
      .capa-para {
        p {
          text-align: center;
        }
      }
      .capa-list-div {
        display: flex;
        justify-content: center;
        align-items: center;
        .capa-list {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
      .capa-detail-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .detail-heading {
        }
        .detail-heading {
          text-align: center;
          padding: 20px 0px;
        }
        .detail-paragraph {
          text-align: center;
          font-size: 12px;
          width: 280px;
        }
      }
    }
    .capabilities_card {
      .img_container {
        width: 100%;
        height: 220px;
      }
    }
  }
}
